
# # Playwright
# node_modules/
# /test-results/
# /playwright-report/
# /blob-report/
# /playwright/.cache/
# /playwright/.auth/


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Gemini Integration: Hide the file containing the secret API key
.env
